<section class="h-screen bg-gradient-to-t from-sky-500 to-indigo-500 fixed w-full">
  <div
    class="flex mt-3 p-3 w-1/2 justify-center place-self-center border-3 rounded-2xl border-black-500 flex-col items-center"
  >
    <h1 class="text-2xl font-black">This Is My ToDoApp in Angular</h1>
    <form>
      <text-input (inputText)="onTextEntered($event)" />
      <div class="m-5">
        <app-button buttonName="Save List" type="submit" (click)="onClick()" />
        <app-button [isRed]="false" buttonName="delete" />
      </div>
    </form>
  </div>
</section>
