<section class="h-screen bg-gradient-to-t from-sky-500 to-indigo-500 fixed w-full">
  <div
    class="flex mt-3 p-3 w-1/2 justify-center place-self-center border-3 rounded-2xl border-black-500 flex-col items-center"
  >
    <h1 class="text-2xl font-black">This Is My ToDoApp in Angular</h1>
    <form>
      <div class="mt-3">
        <text-input [(value)]="todo" />
      </div>
      <div class="m-5">
        <app-button buttonName="Save To Do" (click)="onClick()" />
        <app-button buttonName="Clear" [isRed]="false" (click)="onClickClear()" />
      </div>
    </form>
    <list-view [toDoList]="this.toDoList"></list-view>
  </div>
</section>
